<div style="padding:50px" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="device-wrapper">
                <div class="device" data-device="Pixel" data-orientation="portrait" data-color="black">
                  <div class="screen">
                    <img src="https://lh3.googleusercontent.com/J4XuYw4cpZ4ZjoNcxTem9YpPJg6YIZC7s9-Oi1Coj5OD4SudlvrgSmrUYDAGNrY7Jpg=h900-rw" class="img-fluid">
                  </div>
                </div>
            </div>
        </div>
        <div style="padding:20px;" class="col-md-8">
          <div class="col-md-9 offset-md-3">
              <div class="container-fluid" >
                  <h1 style=" font-weight:lighter;" class="text-muted" >Learn on the Go</h1>
                  <p  class="text-muted">Now, watch videos and practice anywhere</p>
              </div>
              <div class="container-fluid">
                <p>Be it your desktop, your laptop or even your mobile, we provide you with the liberty to study anywhere. Download our Android app from playstore to enjoy our services on the go.</p>
              </div>
              <div style="padding-left:0;" class="col-md-6">
                  <a href="#">
                      <img src="https://firebasestorage.googleapis.com/v0/b/bankers-point-a82f2.appspot.com/o/google-play-badge.png?alt=media&token=80fea845-7871-4a4e-b302-d40dc8aee760" class="img-fluid">
                  </a>
              </div>
            </div>
          </div>
    </div>
</div>