<!-- <div id="course-head" class="container-fluid">
  <div class="container" id="head-cont">
    <h1 class="course-title">{{course?.name}}</h1>
    <div class="row">
      <ul class="head-list">
        <li>
            <span *ngFor="let i of rating" class="fa fa-star checked"></span>
            <span *ngFor="let i of rating_void" class="fa fa-star"></span>
        </li>
        <li>{{rating?.length}}</li>
        <li>Rating</li>
      </ul>
    </div>
    <div class="row">
        <ul class="head-list">
            <li>Instructed by</li>
            <li>{{courseInstructor?.name}}</li>
        </ul>
    </div>
  </div>
</div>

<div id="course-preview" class="container-fluid">
  <div id="course-preview-cont" class="container">
    <div class="row">
        <div class="col-md-9">
            <img class="img-fluid" src="{{course?.image}}">
        </div>
        <div class="col-md-3">
            <div class="container">
              <h3>₹{{course?.price_offer}}<span style="text-decoration:line-through; float:right;">₹{{course?.price_actual}}</span></h3>
              <a *ngIf="!course?.is_free" href="#" class="btn btn-warning btn-block">Subscribe</a>
              <a [routerLink]="['/classroom',id]" class="btn btn-secondary btn-block">Free preview</a>
              <div id="course-info">
                  <ul>
                    <li class="text-muted">Course validity <span style="float:right;">{{course?.validity}} days</span></li>
                    <li class="text-muted">Videos <span style="float:right;">{{videos}}</span></li>
                  </ul>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div id="about-course" class="container-fluid">
  <div id="about-course-cont" class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 class="about-course-head" >About Course</h1>
            <div class="row">
              <div class="col-md-6">
                  <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Course length <strong>{{course?.duration}}</strong></h5>
              </div>
              <div class="col-md-6">
                  <h5><i class="fa fa-globe" aria-hidden="true"></i> Language <strong>{{course?.language}}</strong></h5>
              </div>
            </div>
            <p style="padding-top:10px;" class="text-muted">{{course?.description}}</p>
            <h1 class="about-course-head">Curriculum</h1>
            <div class="list-group">
                <div *ngFor="let i of sections" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{i.title}}</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">{{i.description}}</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </div>
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <h1 class="about-course-head" >Review</h1>
      
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
	<div id="course-desc-cont" class="container">
		<div class="row">
			<div class="col-lg-5">
				<img src="{{course?.image}}" class="img-fluid">
			</div>
			<div class="col-lg-7">
				<h3>{{course?.name}}</h3>
				<p>
          <span *ngFor="let i of rating" style="font-size:25px;" class="fa fa-star checked"></span>
					<span *ngFor="let i of rating_void" style="font-size:25px;" class="fa fa-star"></span> 
					<span class="text-muted">{{ratingExact | number:'1.1-1'}}</span>
				</p>
        <p class="text-muted">{{course?.description}}</p>
        <div *ngIf="isSubscribed&&days<=course.validity" class="progress">
          <div class="progress-bar bg-warning" role="progressbar" id="validity-progress" [ngStyle]="{'width':progressWidth}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{days | number:'1.0-0'}}/{{course.validity}} days</div>
        </div>
        <div *ngIf="isSubscribed&&days>course.validity" class="alert alert-danger" role="alert">
          Sorry, your validity has expired.
        </div>
				<div *ngIf="!isSubscribed&&!isFree||isSubscribed&&days>course.validity; else free" class="row">
					<div class="col-lg-5"><h3 style="float:left" class="text-success">₹ {{course?.price_offer}}</h3><h3 class="text-success" style="text-decoration:line-through; float:right;" >₹ {{course?.price_actual}}</h3></div>
        </div>
        <ng-template #free>
          <div *ngIf="isFree" class="row">
            <div class="col-lg-5">
              <h3 style="float:left;" class="text-success" >FREE COURSE</h3>
            </div>
          </div>
        </ng-template>
				<div class="row">
					<div *ngIf="!isSubscribed && !isFree" style="padding:10px;" class="col-lg-3">
            <button (click)="pay()" style="cursor:pointer;" class="btn btn-success btn-block">Buy now</button>
          </div>
					<div *ngIf="isFree||isSubscribed&&days<=course.validity" style="padding:10px;" class="col-lg-3">
						<a [routerLink]="['/classroom',id]" class="btn btn-secondary btn-block">Start learning</a>
          </div>
          <div *ngIf="isSubscribed&&days>course.validity" style="padding:10px" class="col-lg-3">
            <button (click)="pay()" class="btn btn-success btn-block">Renew</button>
          </div>
          <div *ngIf="!isSubscribed && !isFree" style="padding:10px;" class="col-lg-3">
              <a [routerLink]="['/classroom',id]" class="btn btn-secondary btn-block">Free preview</a>
          </div>
					<div *ngIf="!isSubscribed&&!isFree||isSubscribed&&days>course.validity" style="padding:10px;" class="col-lg-6">
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="couponCode" name="coupon-code" placeholder="Coupon code">
							<span class="input-group-btn">
							  <button [ngClass]="couponApplied ? 'btn btn-secondary disabled' : 'btn btn-secondary'" (click)="applyCode()" type="button">Apply</button>
							</span>
            </div>
            <div *ngIf="couponApplied" style="margin-top:10px;" id="coupon-success" class="alert alert-success" role="alert">
              Your coupon code was successfully applied. You can cancel your coupon from <strong (click)="cancelCoupon()" id="cancel-coupon" >here</strong>.
            </div>
            <div style="margin-top:10px;display:none;" id="coupon-invalid" class="alert alert-danger" role="alert">
              Invalid coupon code
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid tab">
	<div class="container">
		<ul class="nav nav-tabs">
      <li class="nav-item">
        <a [routerLink]="['overview']" routerLinkActive #rloverview="routerLinkActive" [ngClass]="rloverview.isActive? 'nav-link active' : 'nav-link' " >Overview</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['curriculum']" routerLinkActive #rlcurriculum="routerLinkActive" [ngClass]="rlcurriculum.isActive? 'nav-link active' : 'nav-link' ">Curriculum</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['reviews']" routerLinkActive #rlreviews="routerLinkActive" [ngClass]="rlreviews.isActive? 'nav-link active' : 'nav-link' " >Reviews</a>
      </li>
    </ul>
	</div>
</div>

<div id="details" class="container-fluid">
  <div id="details-cont" class="container">
    <router-outlet >
        
    </router-outlet>
  </div>
</div>